# at least 2.8 required for Rocky Linux support
ansible==2.9.27
pywinrm[credssp,kerberos]>=0.2.2
netaddr>=0.7.19
# for community.hashi_vault collection which gets installed in k8s poststart script
hvac>=0.10.6,<1.0.0
